<div class="container">
  <h2>User settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="userSettings.name" minlength="3" pattern="^[a-zA-Z ]+$" required #inputName="ngModel" [class.validation-error]="form.submitted && inputName.invalid" (blur)="onBlur(inputName)"/>
      <div class="alert alert-danger" [hidden]="inputName.valid || !form.submitted">Enter your name</div>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox"  id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers"/>
      <label class="form-check-label" for="emailOffers">Email special offers</label>
    </div>

    <p>User interface style</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="lightStyle" value="light" checked [(ngModel)]="userSettings.interfaceStyle"/>
        <label class="form-check-label" for="lightStyle">Light</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="darkStyle" value="dark" [(ngModel)]="userSettings.interfaceStyle"/>
        <label class="form-check-label" for="darkStyle">Dark</label>
      </div>
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription type</label>
      <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
        <option *ngFor="let subscriptionType of subscriptionTypes | async" [value]="subscriptionType.value">{{subscriptionType.label}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
    </div>

    <div class="alert alert-danger" [hidden]="!postError">
      {{postErrorMessage}}
    </div>

    <button type="button" class="btn btn-primary"
            [(ngModel)]="singleModel" btnCheckbox
            btnCheckboxTrue="1" btnCheckboxFalse="0" id="inputCheckbox" name="inputCheckbox">
      Single Toggle {{singleModel}}
    </button>

    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Start date"
               class="form-control"
               [(ngModel)]="startDate" id="startDate" name="startDate"
               bsDatepicker>
      </div>
    </div>

    <button class="btn btn-primary">Save</button>

  </form>
</div>
